<!DOCTYPE html>
<html>

<head>
    <title>Nachos Player</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/global.css">
    <link rel="stylesheet" href="../assets/styles/index.css">
    <link rel="stylesheet" href="../assets/styles/home.css">
    <link rel="stylesheet" href="../assets/styles/profile.css">
    <link rel="stylesheet" href="../assets/styles/playlists.css">
    <link rel="stylesheet" href="../assets/styles/settings.css">
    <link rel="stylesheet" href="../assets/styles/player.css">
    <link rel="stylesheet" href="../assets/styles/queue.css">
    <link rel="stylesheet" href="../assets/styles/sidebar.css">
    <link rel="stylesheet" href="../assets/styles/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-title">
            <h1>Nachos Player!</h1>
        </div>
        <div class="nav-links">
            <a id="homeLink" class="active-page">Home</a>
            <a id="profileLink">Perfil</a>
            <a id="playlistsLink">Playlists</a>
            <a id="settingsLink">Configurações</a>
        </div>
    </div>

    <div id="home">
        <div class="sidebar">
            <h3 class="title">Suas músicas</h3>
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Buscar música">
            </div>
            <div id="songList">
                <!-- Song items will be dynamically generated here -->
            </div>
        </div>

        <div class="player-container">
            <div id="music-info">
                <div class="current-song-container">
                    <h3 id="currentSong" class="song-title">Nenhuma música na fila!</h3>
                </div>
                <img id="songCover" src="../assets/images/album_cover-default.png" alt="Capa do álbum" width="300" height="300">
                <h4 id="artist">Informação do artista</h4>
                <h5 id="album">Informação do álbum</h5>
            </div>

            <div class="controls">
                <div class="playback-controls">
                    <button class="control-button inactive" id="prevButton"><i class="fa fa-backward"></i></button>
                    <button class="control-button inactive" id="playButton"><i class="fa fa-play"></i></button>
                    <button class="control-button inactive" id="nextButton"><i class="fa fa-forward"></i></button>
                    <button class="control-button inactive" id="loopButton"><i class="fa fa-repeat"></i></button>
                    <div class="volume-container">
                        <button class="inactive" id="volumeButton"><i class="fa fa-volume-low"></i></button>
                        <input type="range" id="volumeSlider" class="volumeSlider" min="0" max="0.5" step="0.005" value="0.25"/>
                    </div>
                </div>
                <div class="progress-container">
                    <span id="currentTime">00:00</span>
                    <progress id="progressBar" value="0" max="1"></progress>
                    <span id="totalTime">00:00</span>
                </div>
            </div>

            <div class="hidden">
                <audio id="audioPlayer" controls></audio>
            </div>
        </div>

        <div class="queue-container">
            <h3 class="title">Fila de músicas</h3>
            <div class="queue-controls">
                <button id="clearQueueButton" class="inactive"><i class="fa fa-trash"></i>Limpar fila</button>
            </div>
            <div id="queueList">
                <!-- Queue list items will be dynamically generated here -->
            </div>
        </div>
    </div>

    <div id="profile" class="hidden">
        <h2 class="title">Perfil</h2>
        <div class="stats-container">
            <p>Reproduções Totais: <span id="totalPlayCount"></span></p>
            <p>Tempo Total de Reprodução: <span id="totalPlayTime"></span></p>
            <p>Música Mais Tocada: <span id="mostPlayedSong"></span></p>
            <p>Última Música Reproduzida: <span id="lastPlayedSong"></span></p>
            <p>Músicas Recentes:</p>
            <ul id="recentSongs"></ul>
            <div class="profile-controls">
                <button id="clearMusicHistory" class="standard-button">Limpar histórico</button>
                <button id="clearMusicStats" class="standard-button">Limpar estatísticas</button>
            </div>
        </div>
    </div>

    <div id="settings" class="hidden">
        <h2 class="title">Configurações</h2>
        <div class="settings-container">
            <div class="setting-item">
                <label for="themeSelect">Tema</label>
                <select id="themeSelect">
                    <option value="light">Claro</option>
                    <option value="dark">Escuro</option>
                </select>
            </div>
            <div class="setting-item">
                <label for="selectFolderButton">Pasta de músicas</label>
                <button id="selectFolderButton" class="standard-button"><i class="fa fa-folder"></i>Escolher Pasta</button>
                <p id="selectedFolderPath">Nenhuma pasta selecionada</p>
            </div>
            <div class="setting-item">
                <label for="defaultVolume">Volume Padrão</label>
                <input type="range" id="defaultVolume" class="volumeSlider" min="0" max="0.5" step="0.0025" value="0.25"/>
            </div>
            <div class="setting-item">
                <label for="autoUpdate">Atualização Automática (demonstração apenas)</label>
                <label class="switch">
                    <input type="checkbox" id="autoUpdate">
                    <span class="slider"></span>
                </label>
            </div>
            <button id="saveSettings" class="standard-button">Salvar Configurações</button>
        </div>
    </div>

    <div id="playlists" class="hidden">
        <h2 class="title">Playlists</h2>
        <div class="playlist-controls">
            <input type="text" id="playlistNameInput" placeholder="Nome da Playlist">
            <button id="createPlaylistButton" class="standard-button"><i class="fa fa-plus"></i>Criar Playlist</button>
        </div>
        <ul id="playlistList">
            <!-- Playlist items will be dynamically generated here -->
        </ul>
    </div>

    <div id="contextMenu" class="hidden">
        <ul id="contextMenuOptions">
            <li id="addToPlaylistOption">Adicionar à Playlist
                <ul id="playlistsSubMenu"></ul>
            </li>
        </ul>
    </div>

    <div id="popup-container" class="hidden">
        <div class="popup">
            <span id="popup-message"></span>
        </div>
    </div>

    <div id="confirmationModal" class="hidden">
        <div class="modal-content">
            <p id="confirmationText">Você tem certeza?</p>
            <div class="modal-buttons">
                <button id="confirmYes" class="standard-button confirm-button">Sim</button>
                <button id="confirmNo" class="standard-button confirm-button">Não</button>
            </div>
        </div>
    </div>    
    
    <script src="../utils/utils.js"></script>
    <script src="../services/metrics.js"></script>
    <script src="../controllers/popupController.js"></script>
    <script src="../controllers/navigationController.js"></script>
    <script src="../controllers/homeController.js"></script>
    <script src="../controllers/profileController.js"></script>
    <script src="../controllers/settingsController.js"></script>
    <script src="../controllers/playlistsController.js"></script>
    <script src="../controllers/shortcutController.js"></script>
    <script src="../controllers/confirmationController.js"></script>
</body>

</html>