:root {
    --title-text-color: #fff;
    --button-text-color: #fff;
    --button-hover-brightness: 1.05;
}

* .hidden {
    display: none !important;
}

.title {
    padding: 5px 0px;
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: var(--title-text-color);
    background-color: var(--primary-color);
    border-radius: 5px;
}

.standard-button {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}

.standard-button i {
    color: var(--button-text-color);
    margin-right: 10px;
}

.standard-button .inactive {
    cursor: not-allowed;
}

.standard-button:not(.inactive):hover {
    filter: brightness(var(--button-hover-brightness));
    transition: filter 0.2s ease-in-out;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.marquee:hover {
    overflow: visible !important;
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

div {
    scroll-behavior: smooth;
}