.player-container {
    flex: 1;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    min-width: 400px;
    height: calc(100% - 20px);
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 10px;
}

#music-info {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 0px;
}

#currentSong {
    font-size: 18px;
    margin: 10px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#songCover {
    border-radius: 5px;
}

#artist {
    font-size: 16px;
    color: var(--muted-text-color);
    margin: 10px 0px;
}

#album {
    font-size: 14px;
    color: #888;
    margin: 0;
}

.player-container .controls {
    display: inline-block;
    width: 100%
}

.player-container .playback-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.player-container .control-button {
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border: none;
    color: var(--text-color);
    border-radius: 50%;
    padding: 10px;
    margin: 0px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.player-container .control-button:not(.inactive):hover {
    background-color: var(--accent-color-hover);
    transition: background-color 0.2s ease-in-out;
}

.player-container .control-button.inactive {
    color: #6e6e6e;
    cursor: not-allowed;
}

.volumeSlider {
    width: 100px;
    height: 10px;
    background-color: #444;
    border-radius: 10px;
    border: none;
    appearance: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease;
}

.volumeSlider:hover {
    background-color: var(--tertiary-color);
    transition: background-color, 0.2s ease-in-out;
}

.volumeSlider::-webkit-slider-thumb {
    background-color: var(--primary-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    -webkit-appearance: none;
    transition: background-color 0.2s ease-in-out;
}

.volumeSlider::-webkit-slider-thumb:hover {
    background-color: var(--primary-color-hover);
}

.volumeSlider::-moz-range-thumb {
    background-color: var(--primary-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.volumeSlider::-moz-range-thumb:hover {
    background-color: var(--primary-color-hover);
}

.volumeSlider::-ms-thumb {
    background-color: var(--primary-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.volumeSlider::-ms-thumb:hover {
    background-color: var(--primary-color-hover);
}

.volume-container {
    display: flex;
}

#volumeButton.inactive {
    color: #6e6e6e;
}

#volumeButton {
    color: var(--text-color);
    padding: 0;
    margin-right: 2px;
    background: none;
    border: none;
    color: var(--text-color);
    border-radius: 50%;
}

.progress-container {
    display: flex;
    align-items: center;
}

#currentTime, #totalTime {
    font-size: 12px;
    color: var(--border-color);
    margin: 0 5px;
}

#currentTime {
    margin-left: 10px;
}

#totalTime {
    margin-right: 10px;
}

.player-container .progress-container {
    width: 100%;
    margin-top: 10px;
}

#loopButton {
    transition: background-color 0.2s ease-in-out;
}

#loopButton.active-all {
    background-color: var(--primary-color);
    transition: background-color 0.2s ease-in-out;
}

#loopButton.active-single {
    background-color: var(--complementary-color);
    transition: background-color 0.2s ease-in-out;
}