#playlists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 60px);
    margin-top: 40px;
    padding: 30px 10px;
}

#playlists > ::-webkit-scrollbar {
    display: none;
}

#playlists .title {
    width: 100%;
    max-width: 600px;
}

.playlist-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#playlistNameInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#createPlaylistButton {
    padding: 10px 20px;
    font-size: 16px;
}

#createPlaylistButton i {
    margin-right: 10px;
}

#playlistList {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
    gap: 15px;
}

.playlist-item {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.playlist-info {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.playlist-info h3 {
    width: 150px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.playlist-info p {
    width: 150px;
    height: 20px;
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    color: var(--tertiary-color);
    text-align: left;
}

.playlist-display {
    display: contents;
}

.playlist-display img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.song-list {
    padding: 0;
    margin: 10px 0 0;
    display: none;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.song-list .song-container {
    margin-right: 10px;
}

.play-all-button {
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    margin-top: 10px;
    text-align: left;
}

.delete-playlist {
    width: 150px;
    height: 30px;
    background-color: rgb(207, 40, 40);
    font-size: 14px;
    margin: 10px 0;
    padding: 5px 10px;
    text-align: left;
}