.sidebar {
    width: 30%;
    flex: 1;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    height: calc(100% - 20px);
    box-sizing: border-box;
    margin: 0 10px;
    overflow-y: auto;
}

.search-bar {
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-bar input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    box-sizing: border-box;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        max-height: 30px;
    }
    to {
        opacity: 0;
        max-height: 0;
    }
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}