#playlists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 60px);
    margin-top: 40px;
    padding: 30px 10px;
}

#playlists .title {
    width: 80%;
    max-width: 600px;
}

.playlist-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#playlistNameInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-right: 10px;
}

#createPlaylistButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: #fff;
}

#playlistList {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

#playlistList .delete-playlist {
    color: red;
    cursor: pointer;
    margin-top: 15px;
}

.playlist-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.playlist-info {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-item h3 {
    margin: 0;
    font-size: 18px;
}

.playlist-item p {
    margin: 0;
    font-size: 14px;
    color: var(--tertiary-color);
}

.song-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: none;
    width: 100%;
}

.song-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}

.song-item .controls {
    display: flex;
    gap: 10px;
}

.song-item .play-button,
.song-item .remove-button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
}

.play-all-button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    align-self: flex-start;
    z-index: 1;
}